<!DOCTYPE html>
{%set lang = content | language %}
<html lang= "{{lang}}">
  <!-- Head -->
  {% include 'head.njk' %}
  <body>
    <!-- Header -->
    {% include 'header.njk' %}
    <!-- Main -->
    {{ content | safe }}
    <!-- Sidebar -->
    {% include 'sidebar.njk' %}
    <!-- Footer -->
    {% include 'footer.njk' %}
    <div class="search-container" >
      <div class="search-frame">
        <button id="close-search">
          <img src="assets/icons/close.svg" />
        </button>
        <div id="search"></div>
        <div id="results"></div>
      </div>
    </div>
  </body>
</html>
