<div class="book-toolbar">
  <label class="btn">
    <input type="radio" name="view" id="toc-list" value="list" />
    <img src="/assets/icons/layout-list.svg" />
  </label>

  <label class="btn">
    <input
      type="radio"
      name="view"
      id="toc-grid"
      value="grid"
      checked="checked"
    />
    <img src="/assets/icons/layout-grid.svg" />
  </label>
</div>
