<a href="/books/{{ book.title }}">
  {% if book.cover %}
  <img class="book__cover" src="{{ book.cover }}" alt="{{ book.title }}" />
  {% else %}
  <span class="book__cover-wrapper">
    <img
      class="book__cover"
      src="/assets/covers/empty-cover.png"
      alt="{{ book.title }}"
    />
    <span class="book__title pad txt-align-start txt-tight-lines">{{book.title}}</span>
  </span>
  {% endif %}
</a>
