<div class="header-right">
  {% if type != 'index' %}
  <button class="btn">
    <img src="assets/icons/expand.svg" />
  </button>
  <label class="btn">
    <input type="checkbox" id="search-toggle">
    <img src="assets/icons/search.svg" />
  </label>
  {% endif %}
</div>
