<div class="header-right">
  {% if type != 'index' %}
  <button class="btn">
    <img src="/assets/icons/expand.svg" />
  </button>
  <button class="btn">
    <img src="/assets/icons/search.svg" />
  </button>
  {% endif %}
</div>
