<head>
  <link rel="icon" href="/assets/icons/create-book.png" type="image/x-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Alegreya&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/colors.css" />
  <link rel="stylesheet" href="/assets/css/base.css" />
  <link rel="stylesheet" href="/assets/css/layout.css" />
  <link rel="stylesheet" href="/assets/css/buttons.css" />
  <link rel="stylesheet" href="/assets/css/books.css" />
  <link rel="stylesheet" href="/assets/css/library.css" />
  <link rel="stylesheet" href="/assets/css/toc.css" />
  <link rel="stylesheet" href="/assets/css/header.css" />
</head>
