<header id="header" class="custom-header">
  <!-- Header Left -->
  {% include "header-left.njk" %}
  <!-- Header Center -->
  {% include "header-center.njk" %}
  <!-- Header Right -->
  {% include "header-right.njk" %}
</header>
