.books {
    inline-size: 100%;
}

.book {
    --cover-height: auto;
    --space: clamp(2ch, 10%, 6ch);

    container-type: unset;
    column-gap: calc(var(--space) / 2);
    display: grid;
    grid-template-columns: minmax(25%, 20dvw) 1fr;
    inline-size: 100%;
    padding-inline: var(--space);

    @media (max-width: 70ch) {
        grid-template-columns: 1fr;
        padding-inline: var(--inline-space);
    }
}

.book__cover {
    background-color: var(--color-bg);
    border-radius: 0.3em;
    box-shadow: 0 0 0 1px var(--color-subtle-dark);
    margin: auto;
    transition: background 300ms ease;

    @media (min-width: 70ch) {
        max-block-size: var(--cover-height, 75vh);
    }

    .theme--black &,
    :has(#book_theme_black:checked) & {
        background: url("/assets/icons/default.jpg") no-repeat center;
        background-size: cover;
    }

    .theme--blue &,
    :has(#book_theme_blue:checked) & {
        background: url("/assets/covers/cover-blue.png") no-repeat center;
        background-size: cover;
    }

    .theme--green &,
    :has(#book_theme_green:checked) & {
        background: url("/assets/covers/cover-green.png") no-repeat center;
        background-size: cover;
    }

    .theme--orange &,
    :has(#book_theme_orange:checked) & {
        background: url("/assets/covers/cover-orange.png") no-repeat center;
        background-size: cover;
    }

    .theme--magenta &,
    :has(#book_theme_magenta:checked) & {
        background: url("/assets/covers/cover-magenta.png") no-repeat center;
        background-size: cover;
    }

    .theme--violet &,
    :has(#book_theme_violet:checked) & {
        background: url("/assets/covers/cover-violet.png") no-repeat center;
        background-size: cover;
    }

    .theme--white &,
    :has(#book_theme_white:checked) & {
        background: url("/assets/covers/cover-white.png") no-repeat center;
        background-size: cover;
    }
}

.btn--circle:has(#book_theme_white:checked) {
    img.checked {
        filter: invert(0);
    }

    @media (prefers-color-scheme: dark) {
        img.checked {
            filter: invert(0);
        }
    }
}

.book__cover-wrapper {
    text-shadow:
        -1px -1px 0 #000,
        0px -1px 0 #000,
        1px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        -1px 1px 0 #000,
        0px 1px 0 #000,
        1px 1px 0 #000;
    color: var(--color-subtle-light);
    display: inline-grid;
    margin: auto;
    place-items: start;

    >* {
        grid-area: 1 / 1;
    }

    @media (max-width: 70ch) {
        .book & {
            font-size: 3em;
        }
    }

    @media (min-width: 150ch) {
        .book & {
            font-size: 1.5em;
        }
    }

    .theme--white & .book__title {
        color: var(--color-always-black);
    }
}


.book__sidebar {
    inset-block-start: var(--block-space);
    position: sticky;
    z-index: 1;
}

.book__title {
    font-weight: 750;
}

.book__toolbar {
    inset-block-start: 0;
    z-index: 2;
}

.book-toolbar {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.book-toolbar input {
    display: none;
}
